h1{
    color: blue;
    font -family: arial;
    font -size:  100px;
}

p{
    color: indianred;
    font -family: arial;
    font -size:  300px;
}

h2{
    color: blue;
    font -family: arial;
    font -size:  100px;
}
